$ff-Kaspersky = 'Kaspersky', sans-serif

$c-black = #000000
$c-black_1 = #1D1D1B
$c-white = #fff
$c-grey = #C2D6D6
$c-grey_1 = #444444
$c-grey_2 = #666666
$c-grey_3 = #CCCCCC
$c-green = #00A88E