extends /blocks/layout-default/layout-default
include /blocks/promo/promo
include /blocks/hub/hub
include /blocks/podcast/podcast
include /blocks/partners/partners
include /blocks/footer/footer

block head
	- var pageTitle = 'Project Template';

block content
	+promo()
	+hub()
	+podcast()
	+partners()
	+footer()
