.partners
    padding w(140) w(487)

    &__title
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(51)
        line-height w(56)
        color $c-black
        text-align center
        letter-spacing -0.03em

    &__subtitle
        padding-top w(25)
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(22)
        line-height w(26)
        color $c-grey_1
        text-align center

    &__slider
        padding-top w(45)
        display flex
        flex-direction row
        justify-content space-between
        align-items center

    &__block
        display flex
        flex-direction column
        justify-content flex-start
        align-items center

    &__text
        padding-top w(30)
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(17)
        line-height w(21)
        color $c-grey_2
        text-align center

    &__link
        padding-top w(15)
        display flex
        flex-direction row

    &__text-link
        padding-right w(15)
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(17)
        line-height w(21)
        color $c-green

    &__arrow
        padding-top w(2)
        width w(15)
        img
            width 100%

