mixin sliders()

    +b('section').sliders
        .conteiner
            +e.slider
                +e.slide-1
                    +e.wrap__country
                        +e.text__country Global
                        +e.text__country North America
                        +e.text__country Latin America
                        +e.text__country META*
                        +e.text__country Europe
                        +e.text__country Russia
                        +e.text__country APAC
                    +e.title Europe has the highest number of majority male IT teams
                    +e.block-1
                        +e.block__title-1 Why do European women value work in IT?
                        +e.block__wrap-1
                            +e.col__line
                                +e.line
                                +e.line
                                +e.line
                                +e.line
                            +e.col__procent
                                +e.text__procent 23%
                                +e.text__procent 18%
                                +e.text__procent 17%
                                +e.text__procent 13%
                            +e.col__text
                                +e.text__info for the healthy work-life balance
                                +e.text__info like the good salary
                                +e.text__info value the clear opportunities for career progression
                                +e.text__info enjoy the excellent training
                        +e.block__wrap-2 
                            +e.title__procent 52%
                            +e.text__info-large of women in the region work in majority male teams
                            +e.title__procent 35%
                            +e.text__info-large work in teams with an even split
                            +e.title__procent 9%
                            +e.text__info-large are part of  majority female teams
                        +e.block__wrap-3
                            +e.title__large Since 2018,<br>there has been а 
                            +e.wrap__main
                                +e.title__number-large 10
                                +e.title__procent-large % 
                                +e.text__info-mainh increase in the number of women in a tech or IT role in Europe who work in a male-dominated team.




            