.footer
    padding w(25) w(386)
    background-color $c-black_1

    &__wrap
        display flex
        flex-direction row
        justify-content flex-start

    &__logo
        width w(155)
        img
            width 100%

    &__text-company
        padding-top w(10)
        padding-left w(20)
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(12)
        line-height w(16)
        color $c-grey_3

    &__text
        padding-top w(10)
        padding-left w(20)
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(12)
        line-height w(16)
        color $c-green