mixin footer()

    +b('section').footer
        +e.wrap 
            +e.logo
                img(src='/images/logo.png')
            +e.text-company © 2021 AO Kaspersky. All Rights Reserved 
            +e.text Terms of use
            +e.text Privacy Policy 
            +e.text Contact