mixin podcast()

    +b('section').podcast
        +e('h4').promo-text Community 
        +e('h3').title Women in Tech<br>Podcast
        +e('button').button Listen to the podcast
        +e.wrap
            img(src='/images/woman_podcast.png')
            