.statistic
    position relative
    height 100%
    padding 0 w(260) 0 w(375)

    &__block
        position relative
        z-index 2

    &__background
        position absolute
        top w(-50)
        left w(20)
        width w(1700)
        img
            width 107%

    &__wrap
        padding-top w(35)
        display flex
        flex-direction row
        justify-content flex-end

    &__procent
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(175)
        line-height w(86)
        color $c-black

        span
            font-size w(98)
            line-height w(51)  

    &__title
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(45)
        line-height w(45)
        letter-spacing -0.02em
        color $c-black

    &__text
        width w(325)
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(22)
        line-height w(29)
        color $c-grey_1

    &__subtitle
        padding-top w(30)
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(35)
        line-height w(31)
        color $c-black

    &__subtitle-info
        padding-top w(30)
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(22)
        line-height w(23)
        color $c-black

    &__block__subtitle
        padding-top w(30)
        display flex
        flex-direction row
        justify-content flex-start
        align-items flex-end

    &__subtitle-number
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(55)
        line-height w(50)
        color $c-black

    &__subtitle-procent
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(44)
        line-height w(40)
        color $c-black

    &__subtitle-text
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(35)
        line-height w(29)
        color $c-black

    &__text-info
        width w(290)
        padding-top w(15)
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(17)
        line-height w(29)
        color $c-black

        &:last-child
            width w(240)

    &__title-info
        padding-top w(40)
        font-family $ff-Kaspersky
        font-style normal
        font-weight 400
        font-size w(55)
        line-height w(29)
        color $c-black

        span
            font-family $ff-Kaspersky
            font-style normal
            font-weight 400
            font-size w(55)
            line-height w(29)
            color $c-black

        div
            font-size w(44)
